{
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"printWidth": 100,
	"overrides": [
		{
			"files": "contracts/**/*.sol",
			"options": {
				"printWidth": 80,
				"tabWidth": 4,
				"singleQuote": false,
				"bracketSpacing": false
			}
		}
	],
	"plugins": ["prettier-plugin-solidity"]
}
